<div>
    <h2>{{title}}!</h2>

    <!-- App Nav.-->
    <ul>
        <li><a routerLink="/" class="nav-link" routerLinkActive="selected">Home</a></li>
        <li><a routerLink="/user" class="nav-link" routerLinkActive="selected">User</a></li>
        <li><a routerLink="/user/id" class="nav-link" routerLinkActive="selected">User/id</a></li>
        <li><a routerLink="/user/id/abc" class="nav-link" routerLinkActive="selected">User/id/abc</a></li>
    </ul>



    <!-- App Routeing -->
    <router-outlet></router-outlet>
</div>

